<td class="py-2 pr-2">
  <div class="flex items-center">
     <img src="{{ customer.image }}" class="mr-2 h-10 w-10 flex-none rounded-sm" alt="" /> 
    <div class="flex flex-col justify-items-start">
      <a [routerLink]="['/dashboard/detail-customer', customer.id]" class="mb-1 text-sm font-semibold text-gray-900 dark:text-night-100 dark:hover:text-primary-500">{{
        customer.firstName
      }}</a>
      <span class="text-xs font-semibold text-gray-400 dark:text-night-300">{{ customer.lastName }}</span>
    </div>
  </div>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-gray-400 dark:text-night-200">{{ customer.phoneNumber }} </span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-gray-400 dark:text-night-200">{{ customer.phoneNumber | currency }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <!-- <div class="ml-4 flex items-center justify-start">
		<img [src]="auction.avatar" class="mr-3 h-8 w-8 rounded-b-md" alt="" />
	</div> -->

  <span class="text-sm font-semibold text-gray-400 dark:text-night-200">{{ customer.gender }}</span>
</td>
<td class="py-2 pl-2 text-right">
  <span class="text-sm font-semibold text-gray-400 dark:text-night-200">{{ customer.email }}</span>
</td>

<td class="py-2 pl-2 text-right">
  <div class="flex justify-end">
    <button
      [routerLink]="['/dashboard/detail-customer', customer.id]"
      class="flex h-7 w-7 items-center justify-center rounded-md  text-gray-400 dark:bg-night-500 dark:text-night-300">
      <!-- <svg-icon src="assets/icons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon> -->
     
        <svg 
   
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 9C2.44772 9 2 9.44772 2 10C2 10.5523 2.44772 11 3 11H21C21.5523 11 22 10.5523 22 10C22 9.44772 21.5523 9 21 9H3Z"
          fill="#000000"
        />
        <path
          d="M3 13C2.44772 13 2 13.4477 2 14C2 14.5523 2.44772 15 3 15H15C15.5523 15 16 14.5523 16 14C16 13.4477 15.5523 13 15 13H3Z"
          fill="#000000"
        />
      </svg>
    </button>
  </div>
</td>

<td class="py-2 pl-2 text-right">
  <div class="flex justify-end">
    <button
      [routerLink]="['/dashboard/update-customer', customer.id]"
      class="flex h-7 w-7 items-center justify-center rounded-md  text-gray-400 dark:bg-night-500 dark:text-night-300">
      <!-- <svg-icon src="assets/icons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon> -->
      <svg fill="#000000" viewBox="0 0 24 24" id="update-alt-2" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line"><path id="primary" d="M6,5H16a2,2,0,0,1,2,2v7" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><path id="primary-2" data-name="primary" d="M18,19H8a2,2,0,0,1-2-2V10" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><polyline id="primary-3" data-name="primary" points="15 11 18 14 21 11" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><polyline id="primary-4" data-name="primary" points="9 13 6 10 3 13" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline></svg>
    </button>
  </div>
</td>


<td class="py-2 pl-2 text-right">
  <div class="flex justify-end">
    <button
      (click)="deleteCustomer(customer.id)"
      class="flex h-7 w-7 items-center justify-center rounded-md  text-gray-400 dark:bg-night-500 dark:text-night-300">
      <!-- <svg-icon src="assets/icons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon> -->

      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#f9f6f6">

        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        
        <g id="SVGRepo_iconCarrier"> <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M6 10L7.70141 19.3578C7.87432 20.3088 8.70258 21 9.66915 21H14.3308C15.2974 21 16.1257 20.3087 16.2986 19.3578L18 10" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
        
        </svg>
    </button>
  </div>
</td>


